@import '../Content/css/theming';
@import '../Content/css/common';

@include mat-core();
$app-color-primary: mat-palette($mat-indigo);
$app-color-accent: mat-palette($mat-brown);
$color-app-warn:    mat-palette($mat-red);
$app-theme: mat-dark-theme($app-color-primary, $app-color-accent, $color-app-warn);

@include angular-material-theme($app-theme);

//To add another secondary theme: https://github.com/angular/material2/blob/master/guides/theming.md

html, body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100%;
    background: gray;
}

md-sidenav {
    width: 250px;
}

md-sidenav-container {
    margin-top: 64px;
}

@media (max-width: 600px) {
    md-sidenav-container {
        margin-top: 56px;
    }

}

md-nav-list {
    padding-top: 0 !important;
}

md-toolbar {
    font-weight: 400 !important;
}

md-card.tab-toolbar {
    font-size: 16px;
    font-weight: 300 !important;
    color: white !important;
    align-items: center;
}

md-card.events-date {
    margin: 0 !important;
    padding: 2px 6px 2px 6px !important;
}

md-card-title, md-card-content {
    font-weight: 300 !important;
}

a {
    font-weight: 300 !important;
}