<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
    <md-card class="account-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <img class="logo" src="../Content/img/logo.png" />
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="6px" fxLayoutAlign="center center">
            <md-error *ngIf="formError" class="server-error"><md-icon fxFlex="14">error_outline</md-icon>{{formError}}</md-error>
            <md-input-container>
                <input mdInput placeholder="Email" formControlName="email">
                <md-error *ngIf="form.get('email').hasError('pattern')">
                    Please enter a valid email address
                </md-error>
                <md-error *ngIf="form.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </md-error>
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" placeholder="Password" formControlName="password">
                <md-error *ngIf="form.get('password').hasError('required')">
                    Password is <strong>required</strong>
                </md-error>
            </md-input-container>
            <button md-button (click)="register()">Register</button>
            <small><a class="link" [routerLink]="['/login']">Already have an account?</a></small>
            <small><a class="link" [routerLink]="['/home']">Go back home</a></small>
        </form>
    </md-card>
</div>