.content {
    padding: 12px;
}

.horizontalLineThin {
    border-top: thick solid #FFFFFF;
    border-width: 2px;
}

.horizontalLine {
    border-top: thick solid #FFFFFF;
}

.verticalLine {
    border-left: thick solid #FFFFFF;
}


.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-x-xs {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.m-x-sm {
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.m-x-md {
    margin-left: 18px !important;
    margin-right: 18px !important;
}

.m-x-lg {
    margin-left: 24px !important;
    margin-right: 24px !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-y-xs {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.m-y-sm {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.m-y-md {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.m-y-lg {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-x-xs {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.p-x-sm {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.p-x-md {
    padding-left: 18px !important;
    padding-right: 18px !important;
}

.p-x-lg {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-y-xs {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.p-y-sm {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.p-y-md {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.p-y-lg {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
