@{
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}
@section head{
    <base href="/">
    <link href="~/dist/css/app.theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <script>
            System.import('app/app.module.js').catch(function (err){ console.error(err); });
    </script>
}
<app-root></app-root>

<div id="loader" class="loader"></div>